body {
    background-color: black;
    /* ページの背景色 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    /* 画面中央に配置するため */
    font-family: 'MS PGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    padding-top: 30px;
}


.signboard {
    background-color: black;
    color: white;
    padding: 20px 25px;
    /* 画像の青い枠線 */
    border-radius: 5px;
    /* 少し角を丸くする */
    width: 90%;
}

/* 1行目: 方面 */
.header {
    font-size: 75px;
    /* emは親要素に対する倍率 */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    white-space: nowrap;
}

.standby {
    font-size: 100px;
    /* emは親要素に対する倍率 */
    font-weight: bold;
    height: 100px;
    display: grid;
    align-content: center;
    place-items: center;
    margin-bottom: 15px;
    margin-top: 200px;
    color: green;
}

.bus_item {
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
}


.next {
    font-size: 55px;
    color: white;
    /* 子要素を横並びにする */
    display: flex;
    /* コンテナ全体を画面の中央に配置 */
    margin: 0 auto;
    /* 3つのカラムの幅の合計 (200 + 800 + 300 = 1300px) */
    width: 1400px;
}

.orange {
    color: orange;
    text-align: left;
    width: 200px;
}

.keitou {
    color: green;
    text-align: center;
    width: 900px;
}

.toumei {
    color: black;
    text-align: center;
    width: 900px;
}

.time {
    text-align: center;
    width: 300px;
}

.delay {
    color: red;
    font-size: 55px;
    margin: 0 auto;
}

.touchaku {
    font-size: 50px;
    color: white;
    text-align: left;
}