body {
    background-color: black;
    /* ページの背景色 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    /* 画面中央に配置するため */
    font-family: 'MS PGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    padding-top: 30px;
}


.signboard {
    background-color: black;
    color: white;
    padding: 20px 25px;
    /* 画像の青い枠線 */
    border-radius: 5px;
    /* 少し角を丸くする */
    width: 90%;
    max-width: 550px;
    /* 最大幅を指定 */
}

/* 1行目: 方面 */
.header {
    font-size: 100px;
    /* emは親要素に対する倍率 */
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.next {
    font-size: 100px;
    color: white;
    text-align: left;
}

.orange {
    color : orange;
    text-align: left;
}

/* .time {
    text-align: center;
} */

.keitou {
        font-size: 50px;
            color: green;
            text-align: left;
}

.touchaku {
        font-size: 50px;
            color: white;
            text-align: left;
}

.delay {
    color: red;
}